* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #330033;
    color: white;
    padding: 20px 30px;

    background-image: url('/static/img/tom-barrett-hgGplX3PFBg-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.navbar{
    position: sticky;
    top: 20px;
    z-index: 2
}

img{
    vertical-align: middle;
}


table{
    margin-top: 2em; 
}

th{
    color:limegreen;
}

td{
    color: whitesmoke;
}

/* Search Response */

.search-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cities-table{
    margin-top: 2.5rem;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
}


#search ul li a {
    display: inline-block;
    text-decoration: none;
    color: lightsteelblue;
    padding: 5px 10px;
    
}

#search ul li a:hover{
    background-color: whitesmoke;
    color:black;
    border-radius: 5px;
}

.container{
    width: 90%;
    margin-top: 2em;

}

#current{
    display: flex;
    align-items: left;
    flex-direction: column;
    /* color:black */
}

.svg{
    width:70px;
}

.forecast{
    /*width:90%; */
    margin: 2em auto;
    padding-left:1em;
    padding-top: 1em;
}

.forecast .svg{
    width: 50px;
}

.card{
    border: 2px solid black;
    border-radius: .25em;
    width: 30em;
    margin: 5em auto 0; /* top left/right bottom */
}

.card p{
    text-align: center;
}


#btn-center{
    margin: auto;
} 

#down-arrow{
    color:navy;
}

#up-arrow{
    display: inline-block;
    color: yellow;
    padding-right: 2px;
}

#spinner{
    text-align: center;
    margin-top: 10em;
}