* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:gray; /* #161748;*/
    color: white;
}


img{
    vertical-align: middle;
}

/*
table{
    margin-top: 2em; 
} */

th{
    color:limegreen;
}

td{
    color: whitesmoke;
}


#search{
    width:70%;
    margin: 2em auto;
}

#current{
    width:30%;
    margin: auto;
    display: flex;
    align-items: left;
    flex-direction: column;
    color:black;
}


.svg{
    width:70px;
    /*height:200px; */
}

.forecast{
    width:90%;
    margin: 2em auto;
    padding-left:1em;
    padding-top: 1em;
}

.forecast .svg{
    width: 50px;
}
.card{
    border: 2px solid black;
    border-radius: .25em;
    width: 30em;
    margin: 5em auto 0; /* top left/right bottom */
}

.card p{
    text-align: center;
}


#btn-center{
    margin: auto;
} 

#down{
    color:navy;
}

#up{
    display: inline-block;
    color: yellow;
    padding-right: 2px;
}