* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #330033;
    color: white;
    padding: 20px 30px;

    background-image: url('/static/img/sam-schooler-unsplash-1400-900.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/* Navbar  */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 15px;
}

nav .nav-action{
    margin-right: 20px;
}

nav button{
    height: 38px;
}

nav .dropdown .dropdown-menu{
    background-color: #6c757d;
}

nav .dropdown .dropdown-menu .dropdown-item{
    color: white;
}


nav .dropdown .dropdown-menu .dropdown-item:hover{
    color:black;
}

nav .dropdowns{
    display: flex;
}
 /* Search input */

 form input[type="search"]{
     border: 2px solid black;
     padding: 5px;
 }
 
.img-brand{
    vertical-align: middle;
    height: 40px;
    width:65px;
    display: inline-block;
    margin-right: 15px;
}


table{
    margin-top: 2em; 
}

th{
    color:limegreen;
}


/* Search Response */

.search-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cities-table{
    margin-top: 2.5rem;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.btn-display{
    color: whitesmoke;
    background-color:#000066;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-result{
    display: inline-block;
    color: whitesmoke;
    background-color:#000033;
    padding: 5px 10px;
    border-radius: 5px;
    width:180px;
}

#search ul li a {
    display: inline-block;
    text-decoration: none;
    margin: 5px 0;
    font-variant: small-caps;
    font-size:14px;
}

#search ul li a:hover{
    background-color: whitesmoke;
    color:black;
    border-radius: 5px;
}

/* Results */
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#current{
    display: flex;
    align-items: left;
    flex-direction: column;
    /* color:black */
}

.results-title{
    margin-top: 20px;
    text-align: center;
}

.svg{
    width:70px;
}

.forecast{
    /*width:90%; */
    margin: 2em auto;
    padding-left:1em;
    padding-top: 1em;
}

 

.forecast .svg{
    width: 50px;
}

.forecast .week-day{
    background: rgba(0,0,153,0.7);
}
 

#btn-center{
    margin: auto;
} 

 
#spinner{
    text-align: center;
    margin-top: 10em;
}

/* Failure */

.alert{
    color: black;
    font-variant: small-caps;
    font-weight: bold;
}

/* Readme */

.readme-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}

.readme{
    background-color: whitesmoke;
    color: black;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 50%;
}

/* Media Queries */

@media (max-width:767px){
    #PiP{
        display: none;
    }

}

@media (max-width:700px){
    nav {
        display: block;
    }

    nav .nav-action{
        margin-bottom: 10px;
    }

    .img-brand{
        margin-bottom: 10px;
    }
}

@media (max-width:768px){
    .readme{
        width: 80%;
    }
}

/* @media (min-width:701px){
    nav .dropdowns{
        display: inline-block;
    }
} */