<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" defer>
    <!-- jQuery library -->
    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer>
    </script>
    <!-- Popper JS -->
    <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer>
    </script>
    <!-- Latest compiled JavaScript -->
    <script 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer>
    </script>

    <!-- https://favicon.io/emoji-favicons/ -->
    <link href="/static/favicon-weather.ico" rel="icon">

    <!-- To generate URLs for static files, use the special 'static' endpoint name-->
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
  <nav class="">
    <form class="form-inline nav-action" method='GET' action='' id="form-weather"> 
      <input autocomplete="off" autofocus placeholder="Search (City)" 
      class = "form-control" type="search" name="city">
    </form>
    <div class="dropdown nav-action">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropWhatch" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Whatch Me
      </button>
      <div class="dropdown-menu" aria-labelledby="dropWhatch">
        <a class="dropdown-item" href="javascript:" id="PiP">Mini Video (Float)</a>
        <a class="dropdown-item" id='mini-video'
           href="https://youtu.be/rUbpXtVMfKs" target="_blank">
           Video YouTube
        </a>
      </div>
    </div>
    <div class="dropdown nav-action">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropAbout" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        City Forecast
      </button>
      <div class="dropdown-menu" aria-labelledby="dropAbout">
        <a class="dropdown-item" 
           href="https://github.com/alfiomartini/city-weather" target="_blank">
           City Forecast (Flask App)
        </a>
        <a class="dropdown-item" href="#">September, 2020</a>
        <a class="dropdown-item" href="#">alfio.martini@gmail.com</a>
      </div>
    </div>
  </nav>
  <div id='result'>{% block result %} {% endblock %}</div> <!-- final forecast result -->
  <div id="search"></div> <!-- list of cities and countries (dynamically built)-->
  <div id='spinner'></div> <!-- loading ... message -->
  
  <video controls id="whatchme-mini" src="/static/videos/city-weather-min.mp4" 
    style='width:0; height:0'> 
  </video>
  <script src="/static/listeners.js"></script>
  <script src="/static/pip_video.js"></script>
</body>
</html>