
<div class="alert alert-primary border text-center mt-4" role="alert">
    Select one of the cities of the list below:
</div>
<div class="search-container">
    <ul class="cities-table">
        {% for item in cities %}
        <li data-city='{{item[city]}}'>
            <a href="/city/{{item['id']}}">
                <span class="city">{{item['city']}}</span>
                <span class="country">{{item['country']}}</span>
                <span class="state"> {{item['state']}}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
